In [ ]:
!pip install flair

In [ ]:
from google.colab import drive
drive.mount('/content/data')

Mounted at /content/data

In [ ]:
import pandas as pd
from flair.models import TextClassifier
from flair.data import Sentence
sia = TextClassifier.load('en-sentiment')

In [ ]:
def flair_prediction(x):
    sentence = Sentence(x)
    sia.predict(sentence)
    score = sentence.labels[0]
    return [score.value, score.score]

In [ ]:
data = pd.read_csv("/content/data/MyDrive/bdm-data/twint.csv")

In [ ]:
data

                    id                                              tweet
0  1469109907727306753  El cat party that I am early for dinner and dr...
1  1466985619461128198  Drinking a Slow Chill Dunkel by @oskarblues @ ...
2  1466984867221188614  Drinking a Bionic Cowboy High Tech IPA (Hop Fo...

In [ ]:
data["sentiment"] = data["tweet"].apply(flair_prediction)

In [ ]:
data

                    id  ...                       sentiment
0  1469109907727306753  ...  [POSITIVE, 0.8735111355781555]
1  1466985619461128198  ...  [POSITIVE, 0.5032517313957214]
2  1466984867221188614  ...  [NEGATIVE, 0.6894104480743408]

[3 rows x 3 columns]